.resultado, .btncopiar{
    display: none;
}

:root{

    --color-uno: #F3F5FC;
    --color-dos:#0A3871;
    --color-tres:#495057;
    --color-cuatro:#FFFFFF;
    --color-cinco:#D8DFE8;
    --color-seis:#343A40;





    



}

*{
    margin: 0;
    border: 0;
}

.conteiner{
    width: 1440px;
    height: 1024px;
    background-color: var(--color-uno);
    display: flex;
}

        .div1{
    margin-left: 40px; 
    margin-right: 80px;
    width: 120px;
    height: 1024px;
    background-color:var(--color-uno);
    
        }
        .logo{
            position: fixed;
            top: 40px;
            left: 40px;
            gap: 40px;
        }


.div2{
    margin-right:80px;
    width:680px;
    height:1024px;
    background-color: var(--color-uno);
    align-items: flex-start;
}
    
    .textarea{
        width:577px;
        height:48px;
        position:fixed;
        top: 168px;
        left: 240px;
        font-family:"Inter";
        font-style: normal;
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        border-color: blue;
        background-color: var(--color-uno);
        
    }
    .textarea::placeholder {
        color:var(--color-dos);
    }
    

    .condiciones{
        width: 229px;
        height: 29px;
        position: fixed;
        top: 851px;
        left: 240px;
        gap: 8px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: var(--color-tres);

    }
    .botones{
        width:680px;
        height: 67px;
        position: fixed;
        top: 885px;
        left: 240px;
        gap: 24px;
        background-color:var(--color-uno);
    }
        .btnEncriptar{
            width: 328px;
            height: 67px;
            padding: 24px;
            gap: 8px;
            border-radius: 24px;
            opacity: 0px;
            background-color:var(--color-dos);
            font-family: "Inter";
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: center;
            color:var(--color-cuatro);
        }
        .btnDesencriptar{
            width: 328px;
            height: 67px;
            padding: 24px;
            gap: 8px;
            border-radius: 24px;
            border-color:var(--color-dos);
            opacity: 0px;
            background-color:var(--color-cinco);
            font-family: "Inter";
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: center;
            color: var(--color-dos);
        }
        



.div3{
    position: fixed;
    top:40px;
    left: 1000px;
    border-radius: 32px;
    margin-right: 40px;
    width: 400px;
    height: 944px;
    background-color:var(--color-cuatro);
}
.boton {
    width: 336px;
    height:67px;
    position: fixed;
    top: 885px;
    left: 1032px;
    background-color:var(--color-cuatro) ;
}
.boton button{
    width: 336px;
    height:67px;
    border-color: var(--color-dos);
    border-radius: 24px;
    border: 1px;
    color:var(--color-dos);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;


    

    
}
.resultado{
    width:336px;
    height:781px;
    position:fixed;
    top: 72px;
    left: 1032px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: var(--color-tres);
    background-color: var(--color-cuatro);
}

    .imagen img {
        position:fixed;
        top:283px;
        left:1032px;
        width:336px;
    }
    .imagen h2{
        width: 336px;
        height: 122px;
        position: fixed;
        top:619px;
        left: 1032px;
        width: 336px;
        height: 58px;
        font-family:"Inter";
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: center;
        color:var(--color-seis);
    }
    .imagen p{
        width: 336px;
        height:48px;
        position: fixed;
        top: 693px;
        left: 1032px;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color:var(--color-tres);
        


    }
    

    
    
      
    